<footer class="bg-black text-light">
    <div id="footcont">
        <div id="footer">
            <a href="/copyrights" class="badge bg-info text-black">폰트</a>&nbsp;<a href="/informative" class="badge bg-secondary">안내</a>
        </div>
        <div id="footer2">
            <h6 id="footer_title">RSPP &copy; 2023 법무과</h6>
        </div>
    </div>
</footer>