<footer class="bg-black text-light">
    <div id="footcont">
        <div id="footer">
            <a href="/copyrights" class="badge bg-info text-black"><%= lang("footerComponents")['font'] %></a>&nbsp;<a href="/informative" class="badge bg-secondary"><%= lang("footerComponents")['info'] %></a>
        </div>
        <div id="footer2">
            <h6 id="footer_title"><%= lang("footerComponents")['copyright'] %></h6>
        </div>
    </div>
</footer>