<!DOCTYPE html>
<html>
    <head>
        <title>RSPP</title>
        <%- include('./_head') %>
    </head>
    <body>
        <div class="container-fluid">
            <header><h2 id="pageTitle">RSPP: 양노환장 여행사무위원회</h2></header>
            <aside id="side"></aside>
            <article>
                <div class="container">
                    <section><p style="font-family: 'HGSDotum Regular'">인직빵직 오늘은 날씨가 좋다.</p></section>
                </div>
            </article>
            <footer></footer>
        </div>
    </body>
    <%- include('./_bottom') %>
</html>
