<!DOCTYPE html>
<html>
    <head>
        <title>RSPP 안내</title>
        <%- include('./_head') %>
    </head>
    <body>
        <div class="wrapper">
            <%- include('./_navbar') %>
            <div id="content" class="container-fluid">
                <header>
                    <h2 id="pageTitle">RSPP는 무엇인가요?</h2>
                </header>
                <article>
                    <div class="container-md">
                        <section>
                            <p>
                                <span style="font-family: 'BKKGothic Bold'">RSPP</span>는 "<span style="font-family: 'BKKGothic Regular'"><span style="font-family: 'BKKGothic Bold'">R</span>outes <span style="font-family: 'BKKGothic Bold'">S</span>pecification <span style="font-family: 'BKKGothic Bold'">P</span>rocess for <span style="font-family: 'BKKGothic Bold'">P</span>hilippines</span>"의 각 단어 머리글자를 딴 약어입니다.
                                <br />
                                이 웹 사이트는 여행사무위원회의 총무가 제작하였으며, 여행사무위원장의 허가를 받은 양노환장의 회원만이 부분적으로 이용할 수 있는 "온라인 등기소"로서 그 역할을 다하고 있습니다.
                                <br />
                                <br />
                                감사합니다.
                            </p>
                        </section>
                    </div>
                    <div>&nbsp;</div>
                </article>
                <aside id="side">
                    <div class="alert alert-warning">
                        <h5>ddd</h5>
                    </div>
                </aside>
            </div>
        </div>
        <%- include('./.footer') %>
    </body>
    <%- include('./_bottom') %>
</html>
